registry "https://registry.npmmirror.com"
disturl "https://npmmirror.com/mirrors/node/"
electron_mirror "https://npmmirror.com/mirrors/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR "https://npm.taobao.org/mirrors/electron-builder-binaries/"
version-git-tag false
version-commit-hooks false
version-git-sign false
version-sign-git-tag false
